<a href="{{ post.url | relative_url }}" class="block p-6 rounded-xl transition-all duration-300 hover:bg-neutral-800/60 hover:border-l-4 hover:border-accent group">
  <h3 class="text-xl font-semibold text-white group-hover:text-accent transition duration-200">
    {{ post.title }}
  </h3>
  {% if post.description %}
    <p class="text-sm text-gray-400 mt-1">
      {{ post.description }}
    </p>
  {% endif %}
  <p class="text-xs text-gray-500 mt-1 italic">
    {{ post.date | date: "%b %d, %Y" }}
  </p>
</a>